{{> ../../shared/head title="Home | Dmytro Popov" description="A result oriented Software Developer. Experienced in creating robust, user-focused applications for both CTV platforms and the web."}}

<body>

{{> ../../shared/header/header}}



{{> ../../shared/footer/footer}}

</body>

</html>