body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
li {
  list-style: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}
.wrap {
  max-width: 1790px;
  margin: 0 auto;
}
/* COLORS */
/* SISES */
/* TOP BAR */
.topbar {
  background: #333;
  color: #999;
  font-size: .928em;
}
.topbar__currency {
  position: relative;
  float: left;
}
.topbar__currency-current {
  line-height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  transition: color, background .1s;
  cursor: pointer;
}
.topbar__currency-current span {
  display: none;
}
.topbar__currency:hover .topbar__currency-current,
.topbar__currency.active .topbar__currency-current {
  background: #00c8c8;
  color: #fff;
}
.topbar__currency-list {
  display: none;
  margin: 0;
  position: absolute;
  top: 100%;
  padding: 10px 0 10px 0;
  left: 0;
  width: 100%;
  background: #333;
  z-index: 20;
}
.topbar__currency-list-item {
  padding-right: 26px;
  text-align: right;
  cursor: pointer;
  transition: color .3s;
}
.topbar__currency-list-item:hover {
  color: #fff;
}
.topbar__nav {
  display: inline-block;
  float: right;
  margin: 0;
  padding-left: 0;
  font-size: 0;
}
.topbar__nav li {
  display: inline-block;
  font-size: 1rem;
}
.topbar__cart,
.topbar__register,
.topbar__singin {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 45px;
  transition: background, color .1s;
}
.topbar__cart:hover,
.topbar__register:hover,
.topbar__singin:hover,
.topbar__cart.active,
.topbar__register.active,
.topbar__singin.active {
  background: #00c8c8;
  color: #fff;
}
.topbar__cart-img {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}
.topbar__cart-text {
  padding-left: 13px;
}
.topbar__cart-text-word {
  display: none;
}
/* HEADER */
.header {
  background: #ededed;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.header__logo {
  display: inline-block;
  float: left;
  font-size: 1.5em;
}
.header__logo-bold {
  font-weight: bold;
}
.header__menu {
  float: right;
  font-weight: bold;
  display: inline-block;
}
.header__menu-btn {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
}
.header__nav {
  display: none;
  background: #ededed;
  padding: 15px 0;
  margin: 0;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100vw;
  text-align: center;
  font-size: 0;
  z-index: 10;
}
.header__nav-item {
  font-size: 1.2rem;
}
.header__nav-item a {
  display: inline-block;
  padding: 5px 0;
  transition: color .1s;
}
.header__nav-item a:hover {
  color: #00c8c8;
}
.header__form {
  display: inline-block;
  position: relative;
}
.header__form-input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: inline-block;
  line-height: 30px;
  padding-left: 5px;
  max-width: 190px;
}
.header__form-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
}
.header__form-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 300;
}
.header__form-btn {
  display: none;
}
.header__form-btn-lbl {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  padding: 8px 8px 10px 5px;
  transition: color .1s;
  color: #989898;
}
.header__form-btn-lbl:hover {
  color: #00c8c8;
}
/* SLIDER */
.slider__item {
  position: relative;
}
.slider__item img {
  width: 100%;
}
.slider__text {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-left: 10vw;
  font-size: 16vw;
  letter-spacing: 14vw;
}
.slider__btn {
  display: inline-block;
  position: absolute;
  bottom: 15%;
  right: 10%;
  background: #f8f8f8;
  text-transform: uppercase;
  font-size: 3vw;
  letter-spacing: 2px;
  padding: 1.8vw;
  border: 2px solid #454647;
  transition: border-color, background-color 0.1s;
}
.slider__btn:hover {
  background-color: #00c8c8;
  border-color: #00c8c8;
}
.content {
  padding-top: 3.5vw;
  color: #727272;
}
.content__filter {
  position: relative;
  text-transform: uppercase;
  font-size: 13px;
  border-top: 2px solid #f8f8f8;
}
.content__filter-btn {
  display: inline-block;
  cursor: pointer;
}
.content__filter-list {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 0;
  padding-top: 10px;
  background: #fff;
}
.content__filter-item {
  display: block;
  font-size: 13px;
  line-height: 200%;
  padding-right: 50px;
  transition: color .1s;
  cursor: pointer;
}
.content__filter-item:hover,
.content__filter-item.active {
  color: #00c8c8;
}
.product {
  position: relative;
  background: #f8f8f8;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 10px 0 0 #fff;
}
.product::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 10px;
  background: #fff;
}
.product:hover {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.product__price {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  font-size: 21px;
  font-weight: 300;
}
.product__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.product__link-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  transition: color .1s;
}
.product__link-icon:hover {
  color: #00c8c8;
}
.product__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.product__det {
  display: none;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  right: 0;
  transform: translate(0, 5px);
  background: #fff;
  text-align: center;
  font-size: .921em;
  padding-bottom: 10px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 -10px 0 0 #fff;
}
.product__det-tittle {
  text-transform: uppercase;
}
.product:hover .product__det {
  box-shadow: 0 -10px 0 0 #fff, 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.product__btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  margin: 0 3px;
  font-size: 17px;
  border-radius: 50%;
  background: #727272;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.1s;
}
.product__btn:hover {
  background: #00c8c8;
}
/*media*/
@media screen and (min-width: 750px) {
  .topbar__currency-current i:first-child {
    display: none;
  }
  .topbar__currency-current span {
    display: inline;
  }
  .topbar__cart-text-word {
    display: inline;
    padding-left: 5px;
  }
}
@media screen and (min-width: 970px) {
  .header {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .header__logo {
    font-size: 1.8em;
    letter-spacing: .1em;
  }
  .header__menu-btn {
    display: none;
  }
  .header__nav {
    display: inline-block !important;
    vertical-align: middle;
    position: static;
  }
  .header__nav {
    width: auto;
    background: inherit;
    padding: 0;
  }
  .header__nav-item {
    display: inline-block;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    font-size: .921rem;
  }
  .slider__btn {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 16px 20px 16px 20px;
  }
  .content {
    padding-top: 3.5vw;
  }
  .content__filter-btn {
    display: none;
  }
  .content__filter-list {
    display: inline-block !important;
    position: static;
    padding-top: 0px;
    padding-left: 0;
  }
  .content__filter-item {
    display: inline-block;
    line-height: 200%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    transition: color .1s;
  }
}
