<div class="hero">
    <section>
        <h1>Hello, I'm Dmytro Popov</h1>
        <p><b>Game Developer | Frontend Developer</b></p>
        <p>I am a Frontend Developer with 7+ years of experience creating robust, user-focused applications for both CTV
            platforms and the web. I excel in leading development teams, collaborating with designers and product
            managers, and solving complex technical challenges to deliver high-quality, maintainable solutions.</p>
    </section>

    <section>
        <h2>Specialization</h2>
        <ul>
            <li>Building reliable, scalable, and maintainable applications</li>
            <li>Leading teams of developers, ensuring productivity and code quality</li>
            <li>Seamless collaboration with designers and product managers</li>
            <li>Innovative problem-solving in performance and user experience</li>
        </ul>
    </section>

    <section>
        <h2>Key Achievements</h2>
        <ul>
            <li>Independently built over 15 Roku applications—taking them from concept to profitability with a monthly
                income exceeding $1200</li>
            <li>Developed 50+ diverse CTV apps across Roku, Comcast, Sky, and Vizio</li>
            <li>Delivered 20+ high-quality websites with sophisticated animations and modern designs</li>
        </ul>
    </section>

    <section>
        <h2>Platforms</h2>
        <ul>
            <li>CTV (Roku, Comcast, Sky, Vizio)</li>
            <li>Web</li>
        </ul>
    </section>

    <section>
        <a href="projects.html" class="cta-button">PROJECTS</a>
    </section>

</div>