body {
	font-family: 'Montserrat', sans-serif;
}
li {list-style: none;}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	outline: none;
}
.wrap {
	max-width: 1790px;
	margin: 0 auto;
}
.wrap_small {
	max-width: 1200px;
	margin: 0 auto;
}
@keyframes rotate45 {
	from {transform: rotate(0);}
	to {transform: rotate(45deg);}
}
@keyframes rotate-45 {
	from {transform: rotate(45deg);}
	to {transform: rotate(0);}
}
/* COLORS */
@topbar-bg: #333;
@topbar-text: #999;
@topbar-hover-bg: #00c8c8;
@topbar-hover-text: #fff;
/* SISES */
@topbar-height: 45px;
@menu-hover-text: #00c8c8;

/* TOP BAR */
.topbar {
	background: @topbar-bg;
	color: @topbar-text;
	font-size: .928em;
	&__currency {		
		position: relative;
		float: left;
		&-current {
			line-height: @topbar-height;
			padding-left: 10px;
			padding-right: 10px;
			display: inline-block;
			transition: color, background .1s;
			cursor: pointer;
			& span {
				display: none;
			}
		}
		&:hover &-current,
		&.active &-current{
			background: @topbar-hover-bg;
			color: @topbar-hover-text;
		}
		&-list {
			display: none;
			margin: 0;
			position: absolute;
			top: 100%;
			padding: 10px 0 10px 0;
			left: 0;
			width: 100%;
			background: @topbar-bg;
			z-index: 20;
			&-item {
				padding-right: 26px;
				text-align: right;
				cursor: pointer;
				transition: color .3s;
				&:hover {
					color: @topbar-hover-text;
				}
			}
		}
	}
	&__nav {
		display: inline-block;
		float: right;
		margin: 0;
		padding-left: 0;
		font-size: 0;
		& li {
			display: inline-block;
			font-size: 1rem;
		}
	}
	&__cart,
	&__register,
	&__singin {
		display: inline-block;
		padding-left: 10px;
		padding-right: 10px;
		line-height: @topbar-height;
		transition: background, color, .1s;
		&:hover, &.active {
			background: @topbar-hover-bg;
			color: @topbar-hover-text;
		}
	}
	&__cart {		
		&-img {
			display: inline-block;
			vertical-align: middle;
			line-height: 0;
		}
		&-text {
			padding-left: 13px;
			&-word {
				display: none;
			}
		}
	}
}
/* HEADER */
.header {
	background: #ededed;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	&__logo {
		display: inline-block;
		float: left;
		font-size: 1.5em;
		&-bold {
			font-weight: bold;
		}
	}
	&__menu {
		float: right;
		font-weight: bold;
		display: inline-block;
		&-btn {
			display: inline-block;
			vertical-align: top;
			padding: 5px 10px;
		}
	}
	&__nav {
		display: none;
		background: #ededed;
		padding: 15px 0;
		margin: 0;
		position: absolute;
		top: 40px;
		right: 0;
		width: 100vw;
		text-align: center;
		font-size: 0;
		z-index: 10;
		&-item {
			font-size: 1.2rem;
			& a {
				display: inline-block;
				padding: 5px 0;
				transition: color .1s;
				&:hover {
					color: @menu-hover-text;
				}
			}
		}
	}
	&__form {
		display: inline-block;
		position: relative;
		&-input {
			border: 1px solid rgba(0, 0, 0, 0.5);
			display: inline-block;
			line-height: 30px;
			padding-left: 5px;
			max-width: 190px;
			&::placeholder {
				color: rgba(0, 0, 0, 0.4);
				font-weight: 300;
			}
			&:-ms-input-placeholder {
				color: rgba(0, 0, 0, 0.4);
				font-weight: 300; 
			}
		}
		&-btn {
			display: none;
		}
		&-btn-lbl {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			cursor: pointer;
			padding: 8px 8px 10px 5px;
			transition: color .1s;
			color: #989898;
			&:hover {
				color: @menu-hover-text;
			}
		}
	}
	
}
/* SLIDER */
.slider {
	&__item {
		position: relative;
		& img {
			width: 100%;
		}
	}
	&__text {
		position: absolute;
		display: inline-block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		padding-left: 10vw;
		font-size: 16vw;
		letter-spacing: 14vw;
	}
	&__btn {
		display: inline-block;
		position: absolute;
		bottom: 15%;
		right: 10%;
		background: #f8f8f8;
		text-transform: uppercase;
		font-size: 3vw;
		letter-spacing: 2px;
		padding: 1.8vw;
		border: 2px solid #454647;
		transition: border-color, background-color, .1s;
		&:hover {
			background-color: #00c8c8;
			border-color: #00c8c8;
		}
	}
}
.content {
	color: #727272;
	&::before,
	&::after {
		content: "";
		display: block;
		height: 2px;
		background-color: #f8f8f8;
		max-width: 1760px;
		margin: 0 auto;
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 3.5vw;	
	}
	&::after {
		margin-bottom: 3.5vw;
	}
	&__filter {
		position: relative;
		text-transform: uppercase;
		font-size: 13px;
		&-btn {
			display: inline-block;
			cursor: pointer;
		}
		&-list {
			display: none;
			position: absolute;
			top: 20px;
			left: 0;
			font-size: 0;
			padding-top: 10px;
			background: #fff;
		}
		&-item {
			display: block;
			font-size: 13px;
			line-height: 200%;
			padding-right: 50px;			
			transition: color .1s;
			cursor: pointer;
			&:hover, &.active {
				color: @menu-hover-text;
			}
		}
	}
}
.product  {
	position: relative;
	background: #f8f8f8;
	margin-top: 15px;
	margin-bottom: 15px;
	transition: box-shadow .1s;
	&::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		height: 10px;
		background: #fff;
	}
	&:hover {
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
	}
	&__price {
		position: absolute;
		top: 10px;
		left: 10px;
		display: inline-block;
		font-size: 21px;
		font-weight: 300;
	}
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		&-icon {
			display: none;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 40px;
			color: #fff;
			transition: color .1s;
			&:hover {
				color: @menu-hover-text;
			}
		}
	}
	&__img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	&__det {
		display: none;
		position: absolute;
		z-index: -1;
		top: 100%;
		left: 0;
		right: 0;
		transform: translate(0, 5px);
		background: #fff;
		text-align: center;
		font-size: .921em;
		padding-bottom: 10px;
		transition: box-shadow .1s;
		&-tittle {
			text-transform: uppercase;
		}
	}
	&:hover &__det {
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
	}
	&__btn {
		display: inline-block;
		width: 30px;
		height: 30px;
		padding-top: 3px;
		margin: 0 3px;
		font-size: 17px;
		border-radius: 50%;
		background: #727272;
		color: #fff;
		cursor: pointer;
		transition: background-color .1s;
		&:hover {
			background: @topbar-hover-bg;
		}
	}
}
/* LOOk BOOK */
.lookbook {
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	padding-bottom: 105px;
	&__item {
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom left;
		background-color: #f8f8f8;
		background-origin: content-box;
		text-align: right;
		min-height: 530px;
		padding-top: 2.2vw;
		padding-right: 2.2vw;
		padding-left: 2.2vw;
		margin-bottom: 15px;
		color: #575153;
	}
	&__men {
		background-image: url("../img/lookbook_men_bg.png");
	}
	&__women {
		background-image: url("../img/lookbook_women_bg.png");
	}
	&__you {
		background-image: url("../img/lookbook_you_bg.png");
	}
	&__content {
		display: inline-block;
		max-width: 280px;
		padding-bottom: 1vw;
	}
	&__tittle {
		text-transform: uppercase;
		font-size: 40px;
		font-weight: 400;
		letter-spacing: 3px;
		&-bold {
			font-weight: 700;
		}
	}
	&__text {
		font-family: 'Roboto', sans-serif;
	}
	&__link {
		display: inline-block;
		margin-top: 30px;
		padding: 15px 30px;
		border: 2px solid #575153;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-size: 16px;
		transition: color, background-color, border-color, .1s;
		&:hover {
			color: #fff;
			background-color: @topbar-hover-bg;
			border-color: @topbar-hover-bg;
		}
	}

}

/* FOOTER */
.footer {
	&__boxes {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	&__item {
		color: #575153;
		border-top: 2px solid #f8f8f8;
	}
	&__tittle {
		text-transform: uppercase;
		position: relative;
		font-size: .921em;
		&::after {
			content: "+";
			font-size: 18px;
			font-weight: 700;
			float: right;
			display: inline-block;
			margin-right: 10px;
			animation-name: rotate-45;
			animation-duration: .5s;
			animation-fill-mode: forwards;
		}
		&.active {
			&::after {
				animation-name: rotate45;
				animation-duration: .5s;
				animation-fill-mode: forwards;
			}
		}
	}
	&__col {
		display: none;
		padding-left: 0;
	}
	&__list {
		padding-top: 8px;
		& a {
			transition: color .1s;
			&:hover {
				color:@topbar-hover-bg;
			}
		}
	}
	&__awards,
	&__social {
		font-size: 28px;
		text-align: center;
		min-height: 180px;
		color: #fff;
		
	}
	&__awards {
		text-transform: uppercase;
		letter-spacing: 2px;
		background: #333333;
		padding-top: 38px;
		
	}
	&__social {
		background: #00c8c8;
		& a {
			line-height: 180px;
			padding-left: 10px;
			padding-right: 10px;
			transition: font-size .1s;
			&:hover {
				font-size: 38px;
			}
		}
	}
	&__bottom {
		background: #333333;
		color: #777777;
		line-height: 30px;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
	}
}
/*media*/
@media screen and (min-width: 750px) {
	.topbar {
		&__currency {
			&-current {
				& i:first-child {
					display: none;
				}
				& span {
					display: inline;
				}
			}
		}
		&__cart {
			&-text {
				&-word {
					display: inline;
					padding-left: 5px;
				}
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.header {
		padding-top: 35px;
		padding-bottom: 35px;
		&__logo {
			font-size: 1.8em;
			letter-spacing: .1em;
			&-bold {
				
			}
		}
		&__menu {
			
			&-btn {
				display: none;
			}
		}
		&__nav{
			display: inline-block !important;
			vertical-align: middle;
			position: static;
		} 
		&__nav {
			width: auto;
			background: inherit;
			padding: 0;
			&-item {
				display: inline-block;
				vertical-align: middle;
				padding-top: 0;
				padding-bottom: 0;
				padding-right: 20px;
				font-size: .921rem;
			}
		}
	}
	.slider {
		&__item {
			
			& img {
				
			}
		}
		&__text {

		}
		&__btn {
			font-size: 16px;
			letter-spacing: 2px;
			padding: 16px 20px 16px 20px;
		}
	}
	.content {
		&__filter {

			&-btn {
				display: none;

			}
			&-list {
				display: inline-block !important;
				position: static;
				padding-top: 0px;
				padding-left: 0;
			}
			&-item {
				display: inline-block;
				line-height: 200%;
				padding-top: 50px;
				padding-bottom: 50px;
				padding-right: 50px;			
				transition: color .1s;
			}
		}
	}
	.lookbook {
		&__tittle {
			font-size: 48px;
		}
	}
	.footer {
		&__item {
			border: none;
		}
		&__tittle {

			&::after {
				display: none;
			}
		}
		&__col {
			display: block !important;

		}
		&__list {

		}
		&__awards,
		&__social {
			font-size: 36px;
			
		}
		&__awards {

			
		}
		&__social {

			& a {
				padding-left: 25px;
				padding-right: 25px;
				&:hover {
					
				}
			}
		}
		&__bottom {
			&-item-1 {
				text-align: left;
			}
			&-item-2 {
				text-align: center;
			}
			&-item-3 {
				text-align: right;
			}
		}
	}
}
