{{> ../../shared/head title=project.name description=project.name }}

<body>

    {{> ../../shared/header/header}}

    {{> projectItem/projectItem}}

    {{> ../../shared/footer/footer}}

</body>

</html>