body {
  font-family: 'PT Sans', sans-serif;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 37px;
  padding-right: 37px;
}
header {
  text-align: center;
  font-size: 14px;
  padding-top: 35px;
  border-bottom: 1px solid #222222;
}
header > div {
  text-align: left;
  display: inline-block;
}
header img {
  max-width: 100%;
}
header h1 {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #18374b;
  line-height: 1em;
  letter-spacing: -0.011em;
}
.free-wb {
  text-align: center;
}
.free-wb h2 {
  margin-top: 20px;
  text-transform: uppercase;
  color: #ff621f;
  font-size: 36px;
  letter-spacing: .04em;
}
.free-wb p {
  font-size: 31px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.free-wb button {
  font-size: 31px;
  background: #ff621f;
  border: none;
  border-bottom: 4px solid #ff332a;
  line-height: 70px;
  width: 100%;
  max-width: 435px;
  color: #fff;
  letter-spacing: -0.04em;
}
