body {
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  margin: 0;
}
img {
  height: auto;
}
button {
  cursor: pointer;
}
.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
header {
  text-align: center;
  font-size: 12px;
  padding-top: 35px;
  border-bottom: 1px solid #222222;
}
header > div {
  text-align: left;
  display: inline-block;
}
header img {
  max-width: 100%;
}
header h1 {
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #18374b;
  line-height: 1em;
  letter-spacing: -0.011em;
}
.free-wb {
  text-align: center;
  margin-bottom: 40px;
}
.free-wb h2 {
  margin-top: 18px;
  text-transform: uppercase;
  color: #ff621f;
  font-size: 30px;
  letter-spacing: .04em;
}
.free-wb p {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.free-wb button {
  font-size: 24px;
  background: #ff621f;
  border: none;
  border-bottom: 4px solid #ff332a;
  line-height: 70px;
  width: 100%;
  max-width: 435px;
  color: #fff;
  letter-spacing: -0.04em;
}
.block2 {
  text-align: center;
  background: #EAEAEA;
  padding: 20px;
}
.block2 h3 {
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: .05em;
}
.block2 h4 {
  text-transform: uppercase;
  font-size: 28px;
}
.block2 ul {
  list-style-type: none;
  text-align: left;
}
.block2 li {
  font-size: 19px;
  padding-bottom: 23px;
  position: relative;
}
.block2 li::before {
  position: absolute;
  top: 5px;
  left: -30px;
  content: "";
  display: block;
  float: left;
  width: 24px;
  height: 18px;
  background: url("img/mark.png");
}
.countdown {
  display: inline-block;
}
.countdown > span {
  font-size: 30px;
  display: inline-block;
  background: #2B2E35;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 700;
  border-radius: 15%;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}
.countdown div {
  font-size: 0;
  color: #2B2E35;
  text-transform: uppercase;
  margin-top: 10px;
}
.countdown div span {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.block1 {
  background: #FF621F;
  padding: 20px;
  text-align: center;
  color: #fff;
}
.block1__cal {
  width: 140px;
  height: 140px;
  background: #FFF;
  font-size: 85px;
  font-weight: 700;
  color: #c2c2c2;
}
.block1__cal-top {
  background: #2B2E35;
  font-size: 20px;
  color: #fff;
}
.block1__date {
  text-align: left;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  line-height: 2.6em;
  text-transform: uppercase;
}
.block1__date > span {
  font-size: 22px;
  margin-top: 10px;
  display: inline-block;
}
.block1__day {
  font-size: 28px;
  font-weight: 700;
  border-bottom: 2px dashed #fff;
  padding-bottom: 10px;
}
.block1__day span {
  font-size: 32px;
}
.block1__ava {
  width: 200px;
  height: 200px;
  border: 8px solid #fff;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}
.block1__ava img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.block1 p {
  font-size: 22px;
  line-height: 1.3em;
}
.block1 li {
  text-align: left;
  padding-bottom: 13px;
  font-size: 18px;
}
.question {
  text-align: center;
  font-size: 20px;
  border-bottom: 2px dashed gray;
}
.question div {
  font-size: 32px;
  background: #FF621F;
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  font-weight: 700;
  line-height: 55px;
}
.question span {
  font-size: 24px;
}
.question span span {
  vertical-align: text-top;
}
.text {
  background: url("img/text_bg_mb.png") no-repeat center 160px;
  background-size: 100% auto;
  font-size: 20px;
}
.text h4 {
  text-align: center;
}
.collage {
  background: #efefef;
  background-image: url("img/collage_bg.png");
  bachground-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.collage img {
  box-sizing: border-box;
  max-width: 100%;
  border: 5px solid #ff621f;
}
.text2 {
  font-size: 20px;
}
.text2 button {
  background: #FF621F;
  line-height: 60px;
  display: block;
  width: 100%;
  font-size: 20px;
  border: none;
  color: #FFF;
  font-weight: 700;
  margin-top: 70px;
  border-bottom: 4px solid #ff332a;
}
.social {
  text-align: center;
  font-size: 0;
  margin-top: 50px;
  margin-bottom: 90px;
}
.social a {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}
.sprite {
  background-image: url(img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}
.sprite-facebook-logotype-button {
  width: 40px;
  height: 40px;
  background-position: -5px -5px;
}
.sprite-twitter {
  width: 40px;
  height: 40px;
  background-position: -55px -5px;
}
.sprite-vkontakte-logo {
  width: 40px;
  height: 40px;
  background-position: -105px -5px;
}
@media screen and (min-width: 480px) {
  .wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  header {
    font-size: 14px;
  }
  .free-wb h2 {
    font-size: 36px;
  }
  .free-wb p {
    font-size: 31px;
  }
  .free-wb button {
    font-size: 31px;
  }
  .block1__cal {
    float: left;
  }
  .block1__date {
    margin-left: 180px;
  }
  .countdown > span {
    font-size: 50px;
    width: 75px;
    height: 75px;
    line-height: 75px;
  }
}
@media screen and (min-width: 780px) {
  .blocks-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
  .block1,
  .block2 {
    width: 50%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .question {
    font-size: 22px;
  }
  .question div {
    font-size: 36px;
  }
  .question span {
    font-size: 26px;
  }
  .question p:last-child {
    font-size: 34px;
  }
  .text {
    background: url("img/text_bg_big.png") no-repeat center 160px;
    background-size: 100% 100%;
    padding-bottom: 30px;
  }
  .text .h4cover {
    background: #f8f8f8;
    font-size: 42px;
  }
  .text p {
    font-size: 24px;
  }
  .collage {
    background-image: none;
  }
  .collage img {
    width: 100%;
  }
  .text2 p:first-child {
    font-size: 32px;
  }
  .text2 p:last-child {
    font-size: 24px;
  }
  .text2 button {
    line-height: 100px;
    font-size: 38px;
  }
  .strange-bg {
    background: url("img/strange_bg.png") no-repeat;
    background-size: 100% 80%;
  }
}
