* {box-sizing: border-box;}
html {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.wrap {
	max-width: 940px;
	min-width: 320px;
	padding: 0 15px;
	margin: 0 auto;
}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}
/*haeder*/
.header {
	background: url("../img/head-bg.jpg") no-repeat center center;
	background-size: cover;
	color: #fff;
}
.header-logo {
	float: left;
	margin: 10px 0 0 0;
}
.header-nav {
	float: right;
	margin: 0;
	padding: 0;
}
.header-nav li {
	display: inline-block;
	vertical-align: middle;
	font-size: .8125em;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 25px;
}
.header-nav li a {
	padding: 25px 0;
	display: block;
	transition: .3s;
}
.header-nav li a:hover {
	color: #0cc5bc;
}
.menu-icon {
	display: none;
}
@media screen and (max-width: 768px) {
	.header-menu .header-nav {display: none;}
	.menu-icon {
		display: block;
		float: right;
		padding: 20px;
	}
	.menu-icon:hover {
		cursor: pointer;
	}
	.header-nav li a {
		padding: 10px 0;
	}
	.menu-icon span {
		display: inline-block;
		vertical-align: middle;
	}
	.header-nav {
		display: block;
		width: 100%;
	}
	.header-nav li {
		text-align: center;
		display: block;
	}
	.menu-icon i {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 4px;
		background: #fff;
		border-radius: 20%;
		position: relative;
		margin-left: 20px;
	}
	.menu-icon i::before, .menu-icon i:after {
		display: block;
		position: absolute;
		left: 0;
		width: 20px;
		height: 4px;
		content: "";
		background: #fff;
		border-radius: 20%;
	}
	.menu-icon i::before {
		top: 7px;
	}
	.menu-icon i:after {
		top: -7px;
	}
	.menu-icon.active  i {
		transform: rotate(45deg);
	}
	.menu-icon.active  i:before {
		transform: rotate(-90deg);
		top: 0;
	}
	.menu-icon.active  i:after {
		display: none;
	}
}
.header-content {
	text-align: center;
	max-width: 780px;
	margin: 0 auto;
	padding: 160px 0;
}
.header-content h1{
	font-size: 2em;
}
.header-content h1::after {
	content: "";
	width: 50px;
	height: 1px;
	background: #0cc5bc;
	display: block;
	margin: 20px auto;
}
.header-content p {
	font-size: .875em;
	line-height: 1.7em;
	margin-bottom: 40px;
}
.header-content a {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	padding: 10px;
	margin-bottom: 40px;
	color: #0cc5bc;
	border: 1px solid #0cc5bc;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
	transition: .3s;
}
.header-content a:hover {
	background: rgba(13, 217, 207, .1);
}
/*haeder*/

/*OUR STORY*/
.our-story {
	padding: 65px 0;
}
.our-story>a {
	font-family: 'Open Sans', sans-serif;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	width: 120px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
	border: 1px solid #0cc5bc;
	color: #0cc5bc;
	border-radius: 3px;
	font-weight: bold;
	transition: .3s;
}
.our-story>a:hover {
	background: rgba(13, 217, 207, .1);
}
.story-img {
	float: left;
	width: 50%;
}
.story-img img {
	max-width: 100%;
	padding-right: 80px;
}
.story-text {
	float: right;
	width: 50%;
	position: relative;
	left: -60px;
}
.story-text h2 {
	margin-top: 0;
	font-size: 1.275em;
	text-transform: uppercase;
}
.story-text p {
	font-size: .875em;
	line-height: 1.57em;
}
@media screen and (max-width: 768px) {
	.story-text {
		float: none;
		width: auto;
		position: relative;
		left: 0;
	}
	.story-img img {
		padding: 0 20px 20px 0;
	}
	.story-img {
		width: 30%;
}
}
/*OUR STORY*/

/*WATCH OUR STORY*/
.our-video {
	padding: 200px 0;
	background: url("../img/our-video-bg.jpg") no-repeat center center;
	background-size: cover;
	text-align: center;
}
.our-video a {
	display: inline-block;
	margin: 0 auto;
}
.our-video a p {
	text-transform: uppercase;
	color: #fff;
	font-size: 1em;
	margin-top: 25px;
	transition: .3s;
}
.our-video a:hover p {
	color: #00e0d0;
}
/*WATCH OUR STORY*/

/*EXPERTISE*/
.expertise {
	padding: 60px 0;
}
.expertise-title {
	text-align: center;
}
.expertise-title h2 {
	text-transform: uppercase;
	font-size: 1.375em;
}
.expertise-title p {
	font-family: 'Open Sans', sans-serif;
	font-size: .875em;
}
.expertise-title::after {
	content: "";
	width: 50px;
	height: 1px;
	background: #c6c4c9;
	display: block;
	margin: 20px auto;
}
.expertise-content {
	font-size: 0;
	font-family: 'Roboto', sans-serif;
}
.exp-item {
	display: inline-block;
	font-size: .875rem;
	vertical-align: top;
	width: 33.3333%;
	text-align: center;
	padding: 30px 20px;
}
.exp-item-1, .exp-item-2, .exp-item-3{
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	vertical-align: bottom;
}
.exp-item-2, .exp-item-5{
	border-left: 1px solid rgba(0, 0, 0, .1);
	border-right: 1px solid rgba(0, 0, 0, .1);
	}
.exp-item .sprite {display: inline-block;}
.exp-item h4 {
	text-transform: uppercase;
}
.exp-item p {
	line-height: 2.2;
}
@media screen and (max-width: 768px) {
	.expertise-content {
		position: relative;
	}
	.expertise-content::before {
		position: absolute;
		content: "";
		width: 1px;
		height: 95%;
		background: rgba(0, 0, 0, .1);
		top: 20px;
		bottom: 20px;
		left: 50%;
		margin-left: -.5px;
	}
	.exp-item {
		width: 50%;
		border: none;
	}
	.exp-item-1, .exp-item-2 {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		vertical-align: bottom;
	}
	.exp-item-3, .exp-item-4 {
		vertical-align: middle;
	}
	.exp-item-5, .exp-item-6 {
		border-top: 1px solid rgba(0, 0, 0, .1);
	}
}
@media screen and (max-width: 480px) {
	.exp-item {
		width: 100%;
		border: none;
	}
	.exp-item-1, .exp-item-2, .exp-item-3, .exp-item-4, .exp-item-5 {
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}
	.expertise-content::before {
		display: none;
	}
}
/*EXPERTISE*/

/*FOOTER*/
.footer {
	background: url("../img/footer-bg.jpg") no-repeat center center;
	background-size: cover;
	color: rgba(255, 255, 255, .8);
	padding: 65px 0;
}
.footer-cols {
	font-size: 0;
}
.foot-col {
	display: inline-block;
	width: 33.3333%;
	font-size: .875rem;
	vertical-align: top;
	line-height: 1.8;
}
.foot-col:not(:last-child) {
	padding-right: 20px;
}
.foot-col table td {
	vertical-align: top;
	padding-bottom: 15px;
}
.foot-col table td:first-child {
	padding: 5px 5px 0 0;
}
.foot-form {
	font-size: 0;
}
.foot-form input[type="email"] {
	display: inline-block;
	height: 45px;
	width: 75%;
	margin-right: 5%;
	font-size: .875rem;
	vertical-align: middle;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .8);
	padding-left: 10px;
}
.foot-form label {
	width: 20%;
	height: 45px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	background: rgba(255, 255, 255, .3);
	transition: .3s;
}
.foot-form label:hover {
 background: rgba(255, 255, 255, .4);
}
.foot-form input[type="submit"] {
	display: none;
}
.foot-form label i {
	margin: 0 auto;
	margin-top: 10px;
}
.foot-social {
	padding-top: 20px;
}
.foot-social a {
	display: inline-block;
	padding-right: 5px;
}
.footer-menu {
	margin-top: 25px;
	font-size: .875em;
}
.footer-nav {
	float: left;
	display: inline-block;
	padding-left: 0;
	margin: 0;
}
.footer-nav li {
	display: inline-block;
	padding-right: 25px;
	text-transform: uppercase;
}
.footer-nav li a {
	transition: .3s;
}
.footer-nav li a:hover {
 	color: #00e0d0;
}
.footer-rights {
	float: right;
}
@media screen and (max-width: 768px) {
	.foot-col {
		width: 50%;
	}
	.footer-nav {
		float: none;
		display: block;
		text-align: center;
	}
	.footer-rights {
		float: none;
		display: block;
		padding: 20px 0;
		text-align: center;
	}
}
@media screen and (max-width: 768px) {
		.foot-col {
	width: 100%;
	}
}
/*FOOTER*/
