<div class="social-sidebar">
    <a href="https://www.linkedin.com/in/popov-dmytro-dev/"><img src="assets/img/linkedin.svg" alt="LinkedIn" loading="lazy" width="20" height="20"></a>
    <a href="https://github.com/popovfreewind"><img src="assets/img/github.svg" alt="GitHub" loading="lazy" width="20" height="20"></a>
</div>