{{> ../../shared/head title="Contact | Dmytro Popov" description="A result oriented Software Developer. Experienced in
creating robust, user-focused applications for both CTV platforms and the web."}}

<body>

    {{> ../../shared/header/header}}

    <section class="contact">
        <h1>Contact</h1>
        <p><strong>Name:</strong> Dmytro Popov</p>
        <p><strong>Email:</strong> <a href="mailto:popovfreewind@gmail.com">popovfreewind@gmail.com</a></p>

        <h2>Socials</h2>
        <ul>
            <li><strong>Telegram:</strong> <a href="https://t.me/popovfreewind">@popovfreewind</a></li>
            <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/popov-dmytro-dev/"
                    target="_blank">linkedin.com/in/popov-dmytro-dev</a></li>
            <li><strong>Facebook:</strong> <a href="https://www.facebook.com/profile.php?id=100001813538898"
                    target="_blank">facebook.com/profile</a></li>
            <li><strong>Instagram:</strong> <a href="https://www.instagram.com/popovfw/" target="_blank">@popovfw</a>
            </li>
            <li><strong>GitHub:</strong> <a href="https://github.com/popovfreewind" target="_blank">github.com/popovfreewind</a></li>
        </ul>
    </section>

    {{!-- {{> ../../shared/footer/footer}} --}}

</body>

</html>