<header class="header">
    <div class="logo">
        <img src="assets/img/my-ava.webp" alt="Profile">
        <h1>Dmytro Popov</h1>
    </div>
    <nav class="nav-links">
        <a href="#">HOME</a>
        <a href="#">PROJECTS</a>
        <a href="#">CONTACT</a>
    </nav>
</header>